<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
<link rel="shortcut icon" href="favicon.ico">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="index, follow" />

        <title>{% block title %}Изучение английского языка онлайн / англійська мова онлайн{% endblock %} | EnLand</title>
        <meta name="description" content="{% block description %}Английский язык дает возможность путешествовать и работать за границей
, становится ближе к Европе и Америке. Наш сайт по изучению английского языка предоставляет возможность вам выучить язык за совсем короткое время.
Сейчас мы сделали акцент на изучение слов. Зная слова мы сможете учить грамматику и правильно строить предложения и вашу речь.
        Ждем вас на нашем сайте{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}Английский язык, англійська мова, English language, Английский словарь, изучение английского языка,
        англиская грамматика, английская лексика, видео на английском языке, тексты на английском, песни на английском языке,
         произношение английских слов, английский язык для бизнеса, английский язык для студентов, английский язык для учителей английского, английский язык для школьников,
         ГДЗ для английского языка, статьи на английском, диалоги на английском, книги на английском, книги для изучения языка, видео-уроки английского языка,
         изучение английского с носителем языка, английский язык Киев,английский язык Харьков,английский язык Одесса,английский язык Херсон,английский язык Николаев,
         англійська мова Львів, курси англійської мови у Львові, англійська мова Уркаїна, англиский язык Украина{% endblock %}" />

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

        <link href='https://fonts.googleapis.com/css?family=Kurale&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

        {% block javascripts %}
        {% endblock %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6448372095392587",
    enable_page_level_ads: true
  });
</script>

    </head>
    <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 header">
                <nav class="navbar navbar-inverse">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <img class="home" src="/bundles/word/images/englang.png">
                            <a class="navbar-brand" href="/">EnLand</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="/notice">Статьи</a></li>
                                <li><a href="/notice?category=4">Видео</a></li>
                                <li><a href="/notice?category=2">Грамматика</a></li>
                                <li><a href="/notice?category=3">Заметки</a></li>
                                <li><a href="/notice?category=5">Супер</a></li>
                                <li><a href="/learn-words/">Интерактивное изучение слов</a></li>
                                <li><a href="/voc/tech-ukrainian/a">Словник технічної англійської</a></li>

                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <div class="social-share">
                                    <span class='st_vkontakte_large' displayText='Vkontakte'></span>
                                    <span class='st_facebook_large' displayText='Facebook'></span>
                                    <span class='st_twitter_large' displayText='Tweet'></span>
                                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                                    <span class='st_email_large' displayText='Email'></span>
                                    <span class='st_sharethis_large' displayText='ShareThis'></span>
                                    </div>
                                </li>

                            </ul>
                        </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
        {% block body %}{% endblock %}
    </div>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "547ae5bc-2f21-4610-8ec5-2b22b65cc789", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

    <div class="row">
        <div class="col-md-12 footer">
            <div>&nbsp; &copy; <b>2013-2016 EnLand</b></div>
        </div>
    </div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter34595090 = new Ya.Metrika({
                    id:34595090,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/34595090" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    </body>
</html>
